Server/API/API/obj/API.csproj.nuget.dgspec.json
Server/API/API/obj/API.csproj.nuget.g.props
Server/API/API/obj/API.csproj.nuget.g.targets
Server/API/API/obj/project.assets.json
Server/API/API/obj/project.nuget.cache
Server/API/API/obj/project.packagespec.json
Server/API/API/obj/rider.project.restore.info
Server/API/API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Server/API/API/obj/Debug/net5.0/API.AssemblyInfo.cs
Server/API/API/obj/Debug/net5.0/API.AssemblyInfoInputs.cache
Server/API/API/obj/Debug/net5.0/API.assets.cache
Server/API/API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
Server/API/API/obj/Debug/net5.0/API.GeneratedMSBuildEditorConfig.editorconfig
Server/API/.idea/.idea.API/.idea/.gitignore
Server/API/.idea/.idea.API/.idea/encodings.xml
Server/API/.idea/.idea.API/.idea/indexLayout.xml
Server/API/.idea/.idea.API/.idea/vcs.xml
