@import 'styles/Commons.scss';
.filesWrapper {
  width: 50%;
  margin-left: 16px;
  .filesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .files {
      @include fontSizeSixteen;
    }
  }
}
