@import "styles/Commons.scss";
.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  .content {
    width: 80%;
    display: flex;
    .headerTitle {
      @include fontSizeTwentyFive;
      margin-bottom: 24px;
    }
    .articlesSite {
      width: 75%;
      display: flex;
      flex-direction: column;
    }

  }
}
