@import "styles/Commons.scss";
.pageLayout {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  .main {
    width: 80%;
    margin-top: 30px;
    background-color: $less-intensive-green;
    padding: 16px;
    border-radius: 8px;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      @include fontSizeTwentyFive;
    }
    .content {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      .bigDataSubtitle {
        margin-top: 16px;
        margin-bottom: 16px;
      }
      .mainTextColumn {
        margin-bottom: 16px;
        text-align: justify;
        width: 60%;
      }
    }
    .logos {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
.returnButton {
  width: 100%;
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: space-evenly;
}
