@import "styles/Commons.scss";
.pageLayout {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  .main {
    width: 80%;
    margin-top: 30px;
    background-color: $less-intensive-green;
    padding: 16px;
    border-radius: 8px;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      @include fontSizeTwentyFive;
    }
    .content {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      .bigDataSubtitle {
        margin-top: 16px;
        margin-bottom: 16px;
      }
      .mainTextColumn {
        margin-bottom: 16px;
        text-align: justify;
        width: 60%;
        @media (max-width: $tabletMaxWidth) {
          width: 90%;
        }
      }
      .erasmusIcon {
        height: 300px;
        @media (max-width: $tabletMaxWidth) {
          height: 180px;
        }
        @media (max-width: $mobileMaxSize) {
          width: 80vw;
          height: auto;
        }
      }
    }
    .logos {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .logoImageAth {
        height: 275px;
      }
      .logoImageBNT {
        height: 200px;
      }
      .logoImageKiev {
        height: 225px;
      }
      .logoImageNis {
        height: 275px;
      }
      @media (max-width: $mediumLaptopSizeMaxWidth) {
        flex-wrap: wrap;
        justify-items: center;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img {
          margin-top: 32px;
          max-height: 200px;
          height: auto !important;
        }
      }
      @media (max-width: $mobileMaxSize) {
        img {
          margin-top: 32px;
          max-width: 90%;
          height: auto !important;
        }
      }
    }
  }
}
.returnButton {
  width: 100%;
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: space-evenly;
}
