@import "styles/Commons.scss";
.mobileHeader {
  background-color: $less-intensive-green;
  height: 100px;
  z-index: 9;
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
  .burgerMenu {
    height: 30px;
  }
  .image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .dropdownWrapper {
    background-color: $clear-white;
    position: absolute;
    top: 40px;
    max-width: 280px;
    width: 80vw;
    border-radius: 8px;
    background-color: $clear-white;
    padding: 16px;
    box-shadow: 1px 1px 40px $black-box-shadow;
    @media (max-width: $mobileMaxSize) {
      max-width: 200px;
    }
  }
}
