@mixin postedColumnWidth {
  width: 17%;
  @media (max-width: $tabletMaxWidth) {
    width: 40%;
  }
}
@mixin titleColumnWidth {
  width: 37%;
  @media (max-width: $tabletMaxWidth) {
    width: 50%;
  }
}
@mixin creatorColumnWidth {
  width: 35%;
}
