@import "styles/Commons.scss";
.menu {
  background: #c6e4cb;
  border-radius: 8px;
  padding: 16px;
  .loggedAs {
    @include fontSizeEighteen;
    @include wrapLongText;
    margin-top: 4px;
  }
  .buttons {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
  }
}
