.articlePage {
  display: flex;
  justify-content: space-evenly;
  .mainContainer {
    width: 80%;
    margin-top: 55px;
    @import "styles/Commons.scss";
    .article {
      border-radius: 8px;
      margin-bottom: 24px;
      padding: 16px;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include fontSizeTwenty;
      }
      .subtitle {
        @include fontSizeSixteen;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .imageContainer {
        max-width: 100%;
        margin-top: 32px;
        img {
          width: -webkit-fill-available;
          margin-top: 16px;
          border-radius: 16px;
        }
      }
    }
    .returnButton {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 32px;
    }
  }
}
