@import 'styles/Commons.scss';
.filesWrapper {
  width: 50%;
  margin-top: 32px;
  .filesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .files {
      @include fontSizeSixteen;
    }
  }
  .noFilesOrImages {
    margin-top: 8px;
    @include fontSizeSixteen;
  }
  .noImages {
    @include fontSizeSixteen;
    margin-top: 20px;
  }
}
