@import "styles/Commons.scss";
.wrapper {
  .menuTitleBottomBar {
    height: 2px;
    background: $intensive-green;
  }
  .name {
    @include fontSizeTwenty;
    margin-top: 8px;
    margin-bottom: 4px;
  }
  margin-bottom: 16px;
}
