@import "styles/Commons.scss";
.header {
  @include fontSizeTwenty;
  color: $black-text;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 12px;
  margin-right: 100px;
  @media (max-width: $mobileMaxSize) {
    width: 100%;
  }
  .image {
    margin-left: 4px;
  }
  .creatorEmail {
    width: 40%;
    display: flex;
    align-items: center;
    @media (max-width: $mobileMaxSize) {
      width: 100%;
    }
  }
  .createdOn {
    width: 30%;
    display: flex;
    align-items: center;
  }
}
