@import "styles/Commons.scss";
@mixin leftBarStyles {
    width: 4px;
    height: 100%;
    margin-right: 28px;
}
.syncToastWrapper {
    width: 442px;
    height: 64px;
    background-color: $clear-white;
    display: flex;
    filter: drop-shadow(0px 0px 4px rgba(98, 98, 98, 0.25));
    .syncToastLeftBarGreen {
        @include leftBarStyles;
        background: $intensive-green;
    }
    .syncToastLeftBarBlue {
        @include leftBarStyles;
        background: $intensive-blue;
    }
    .syncToastLeftBarOrange {
        @include leftBarStyles;
        background: $intensive-orange;
    }
    .syncToastLeftBarRed {
        @include leftBarStyles;
        background: $intensive-red;
    }
    .statusIcon {
        margin-right: 28px;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .textPart {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        .statusTitle {
            @include fontSizeSixteen;
            color: $black-text;
        }
        .description {
            @include fontSizeSixteen;
            color: $gray-text;
        }
    }
    .exitIcon {
        margin: 0 16px;
        height: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
}
