@import "styles/Commons.scss";
.subNavigationTitle {
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin-top: 8px;
    @include fontSizeSixteen;
  }
  .subNavigationItem {
    height: 40px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    border: 1px solid $less-intensive-green;
    border-radius: 6px;
    padding: 0 8px;
    margin-top: 8px;
    @include fontSizeSixteen;
  }
  