$desktopSize: 1600px;
$mediumLaptopSizeMaxWidth: 1599px;
$mediumLaptopSize: 1280px;
$smallLaptopMaxWidth: 1279px;
$smallLaptopWidth: 1024px;
$tabletMaxWidth: 1023px;
$tabletWidth: 768px;
$mobileMaxSize: 767px;
