$intensive-green: #036613;
$less-intensive-green: #c6e4cb;
$intensive-blue: #003399;
$less-intensive-blue: #cedeff;
$intensive-orange: #f1582c;
$intensive-red: #e10000;
$less-intensive-orange: #ffe9bd;
$clear-white: #ffffff;
$modal-white-background: rgba(255,255,255, 0.25);
$black-text: #141414;
$gray-text: #909090;
$gray-border: #c4c4c4;
$gray-box-shadow: #f5f5f5;
$black-box-shadow: rgba(0, 0, 0, 0.25);
