@import "./CommonColors.scss";
@import "@fontsource/roboto";

@mixin fontSizeSeventy {
    font-weight: 800;
    font-size: 70px;
}
@mixin fontSizeThirtyTwo {
    font-weight: 800;
    font-size: 32px;
}
@mixin fontSizeTwentyFive {
    font-weight: 800;
    font-size: 25px;
}
@mixin fontSizeTwenty {
    font-weight: 700;
    font-size: 20px;
}
@mixin fontSizeEighteen {
    font-weight: 700;
    font-size: 18px;
}
@mixin fontSizeSixteen {
    font-weight: 700;
    font-size: 16px;
}
@mixin fontSizeFourteen {
    font-weight: 700;
    font-size: 14px;
}
