@import "./CommonColors.scss";
@import "@fontsource/roboto";
@mixin fontSizeTwenty {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: $clear-white;
}
