@import "styles/Commons.scss";
#pagination {
  height: 38px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
#pagination ul {
  display: flex;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
#root .orange li {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 5px;
  background: $less-intensive-orange;
  border-radius: 8px;
}
#root .blue li {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 5px;
  background: $less-intensive-blue;
  border-radius: 8px;
}
#root .green li {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 5px;
  background: $less-intensive-green;
  border-radius: 8px;
}
.orange li:hover {
  @include orangeShadow;
}
.blue li:hover {
  @include blueShadow;
}
.green li:hover {
  @include greenShadow;
}
#pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 48px;
}
#root #pagination .previous {
  background-color: transparent;
  margin-right: 32px;
}
#root #pagination .next {
  background-color: transparent;
  margin-left: 32px;
}
#root .orange .selected {
  background: $intensive-orange;
  border-radius: 8px;
  color: $clear-white;
}
#root .blue .selected {
  background: $intensive-blue;
  border-radius: 8px;
  color: $clear-white;
}
#root .green .selected {
  background: $intensive-green;
  border-radius: 8px;
  color: $clear-white;
}
#pagination li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fontSizeSixteen;
  cursor: pointer;
}
