@import "styles/Commons.scss";
@mixin buttonStyles {
    background: $intensive-green;
    border-radius: 100px;
    color: #FFFFFF;
    @include fontSizeSixteen;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 33px;
    width: 141px;
    cursor: pointer;
}
.buttonStylesGreen {
    @include buttonStyles;
}
.buttonStylesGreen:hover {
    box-shadow: 0px 0px 4px $intensive-green;
}
.buttonStylesOrange {
    @include buttonStyles;
}
.buttonStylesOrange:hover {
    box-shadow: 0px 0px 4px $intensive-orange;
}
.buttonStylesBlue {
    @include buttonStyles;
}
.buttonStylesBlue:hover {
    box-shadow: 0px 0px 4px $intensive-blue;
}
.buttonStylesRed {
    @include buttonStyles;
}
.buttonStylesRed:hover {
    box-shadow: 0px 0px 4px $intensive-red;
}
.buttonsStylesGray {
    @include buttonStyles;
}
